.list_menu { float: right;
  font-size: small;
}
.list_menu li{
  display:inline-block;
}

.logo{
  text-align: center;
}
.logo img{
  height: 80px;
}
.bnr_delivery {text-align: left;}

.bnr_delivery img { width: 135px; height: 22px; }


.menu_list { float: center;
}
.menu_list li{
  display:inline-block;
}

.menu_join{
  color:purple;
  font-weight: bold;
}

.bnr_header { position: relative; min-width: 1050px; text-align: center; line-height: 42px; font-size: 14px; }
.bnr_header a { display: block; height: 42px; background-color: rgb(95, 0, 128); color: rgb(255, 255, 255); }
.bnr_header .bnr_arr { display: inline-block; width: 42px; height: 42px; vertical-align: top; }
.bnr_header .bnr_top { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 0px; }
.bnr_header .inner_top_close { position: relative; width: 1050px; height: 100%; margin: 0px auto; }
.bnr_header .btn_top_bnr { background-image: url("ico_close_fff_42x42.png"); width: 42px; height: 42px; background-color: transparent; border: 0px none; text-indent: -9999px; position: absolute; bottom: 0px; right: -15px; }

/*
.ico { display: inline-block; width: 38px; height: 20px; margin-right: 2px; border: 1px solid rgb(232, 168, 40); border-radius: 10px; background-color: rgb(255, 191, 0); font-weight: 700; font-size: 11px; color: rgb(255, 255, 255); line-height: 18px; text-align: center; vertical-align: 1px; }
.txt_point { display: block; padding-top: 14px; font-size: 14px; color: rgb(102, 102, 102); line-height: 20px; text-align: right; }
*/
#cartPut .cart_option .total .txt_point { display: block; padding-top: 14px; font-size: 14px; color: rgb(102, 102, 102); line-height: 20px; text-align: right; }
#cartPut .cart_option .total .ico { display: inline-block; width: 38px; height: 20px; margin-right: 2px; border: 1px solid rgb(232, 168, 40); border-radius: 10px; background-color: rgb(255, 191, 0); font-weight: 700; font-size: 11px; color: rgb(255, 255, 255); line-height: 18px; text-align: center; vertical-align: 1px; }

/*
.list_menu { float: left; height: 37px; padding: 0px 22px 0px 10px; color: rgb(51, 51, 51); line-height: 35px; white-space: nowrap; }

.sub { display: none; position: absolute; left: 0px; top: 34px; width: 102px; padding: 3px 9px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); }
.lst .sub { left: auto; right: 0px; }
.menu:hover .sub { display: block; }
.sub a { font-size: 12px; color: rgb(64, 64, 64); line-height: 24px; white-space: nowrap; cursor: pointer; }
.none_sub::before, .lst::after { display: none; }
*/

/*
.list_menu { float: right}

.menu:hover .sub { display: block; }
*/

.lst .sub { left: auto; right: 0px; }
.menu:hover .sub { display: block; }
.sub a { font-size: 12px; color: rgb(64, 64, 64); line-height: 24px; white-space: nowrap; cursor: pointer; }
.none_sub::before, .lst::after { display: none; }
.none_sub .link_menu { padding-right: 11px; }
.menu_join .link_menu { color: rgb(95, 0, 128); }
.menu_login .link_menu { padding: 0px 16px 0px 15px; }
.menu.lst::before { right: 0px; }
.menu.lst .link_menu { padding-right: 13px; }
@media not all, not all, only screen and (min-resolution: 1.5dppx) {
  .menu::before { background: transparent url("img/ico_down_16x10.png") no-repeat scroll 0px 0px / 8px 5px; }
}

.goods-view-infomation { margin-top: 50px; }
.goods-view-infomation-tab-group { display: flex; flex-direction: row; width: 1010px; margin: 0px auto; }
.goods-view-infomation-tab { display: flex; flex: 1 1 0%; vertical-align: top; }
/*
.goods-view-infomation-tab:first-child .goods-view-infomation-tab-anchor { border-left: 1px solid rgb(238, 238, 238); }
.goods-view-infomation-tab-anchor { flex: 1 1 0%; position: relative; top: 1px; height: 60px; line-height: 59px; text-align: center; display: block; color: rgb(102, 102, 102); font-size: 16px; font-weight: 700; letter-spacing: -0.3px; font-family: noto sans; background-color: rgb(250, 250, 250); border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.goods-view-infomation-tab-anchor span { font-size: 14px; font-weight: 400; color: rgb(153, 153, 153); }
.goods-view-infomation-tab-anchor.__active { background-color: rgb(255, 255, 255); color: rgb(95, 0, 128); border-bottom: 0px none; }
.goods-view-infomation-tab-anchor .count_review { position: relative; top: -1px; }
*/


.goods-view-infomation-content { padding-top: 60px; min-height: 500px; margin-bottom: 50px; }
.goods-view-infomation-content.__active { display: block; }
.goods-view-infomation-board { width: 100%; }
#goods-infomation { margin-bottom: 0px; }


#footer { font-family: noto sans; letter-spacing: 0px; }
.whykurly_area { font-family: noto sans; letter-spacing: 0px; }
.whykurly_area { width: 1000px; margin: 0px auto; color: rgb(0, 0, 0); letter-spacing: -0.045em; }
.whykurly_area .row { padding: 88px 0px; border-top: 1px solid rgb(212, 211, 211); }
.whykurly_area .row:first-child { border-top: 0px none; padding-top: 44px; }
.whykurly_area .tit_whykurly { display: block; font-size: 33px; font-weight: 500; color: rgb(102, 102, 102); text-align: center; }
.whykurly_area .why-kurly .col { width: 315px; display: inline-block; margin: 43px 0px 0px 10px; vertical-align: top; }
.whykurly_area .why-kurly .col:first-child { margin-left: 0px; }
.whykurly_area .why-kurly .col .icon { display: block; width: 100%; text-align: center; }
.whykurly_area .why-kurly .col .icon img { width: 40px; height: 40px; }
.whykurly_area .why-kurly .col .info { display: block; }
.whykurly_area .why-kurly .col .info .title { color: rgb(95, 0, 128); font-weight: 600; display: block; font-size: 18px; text-align: center; line-height: 27px; margin-top: 10px; }
.whykurly_area .why-kurly .col .info .desc { display: block; }
.whykurly_area .why-kurly .col .info .desc p { display: block; margin-top: 22px; color: rgb(51, 51, 51); padding: 0px; font-size: 16px; font-weight: 100; line-height: 1.56; letter-spacing: -0.4px; text-align: center; }
.whykurly_area .why-kurly .col .info .desc .etc { display: block; width: 100%; height: 19px; margin: 16px 0px; font-size: 13px; font-weight: 300; letter-spacing: -0.29px; text-align: center; color: rgb(102, 102, 102); }
.whykurly_area .txt_area { overflow: hidden; margin-top: 45px; text-align: center; }
.whykurly_area .txt_area .col { width: 315px; display: inline-block; margin: 43px 0px 0px 10px; vertical-align: top; }
.whykurly_area .txt_area .col .icon { width: 100%; text-align: center; }


table.extra-information { background: rgb(224, 224, 224) none repeat scroll 0% 0%; margin: 30px 0px 60px; width: 100% ! important; }
table.extra-information th, table.extra-information td { font-weight: 400; text-align: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Dotum; font-size: 11px; height: 28px; padding: 5px 0px 5px 10px; border-width: 1px; line-height: 20px; }
table.extra-information th { width: 15%; background: rgb(245, 245, 245) none repeat scroll 0% 0%; color: rgb(81, 81, 81); }
table.extra-information td { width: 35%; color: rgb(102, 102, 102); }
#goodsNotice { position: relative; width: 740px; margin: 51px auto 0px; padding-bottom: 120px; font-family: noto sans; letter-spacing: 0px; }
#goodsNotice .goods_notice { padding: 28px 56px 33px; border: 1px solid rgb(185, 185, 185); }
#goodsNotice .goods_notice::after { content: ""; display: block; overflow: hidden; clear: both; }
#goodsNotice .tit { overflow: hidden; position: absolute; left: 48px; top: -17px; max-width: 90%; padding: 0px 10px 0px 9px; background-color: rgb(255, 255, 255); font-size: 28px; color: rgb(102, 102, 102); line-height: 32px; white-space: nowrap; }
#goodsNotice .desc { overflow: hidden; padding-top: 7px; font-size: 16px; color: rgb(51, 51, 51); line-height: 26px; }
#goodsNotice .no_thumb .desc { padding-top: 3px; }
#qnaNotice .list span::before { content: "- "; position: absolute; left: 0px; top: 0px; }

.goods_wrap .goods_intro .context h3 small { display: block; font-size: 24px; margin-bottom: 14px; line-height: 15px; }
.goods_wrap .goods_intro .context .words { margin-top: 28px; }
.goods_wrap .goods_intro .context .words { margin-top: 28px; }

.goods_wrap .goods_checklist h3::before { content: " "; position: absolute; z-index: 1; top: 20px; width: 100%; height: 1px; background: rgb(185, 185, 185) none repeat scroll 0% 0%; }

.goods_wrap .sub_tit { display: block; margin-bottom: 20px; font-size: 30px; line-height: 38px; }
.goods_wrap .option_tit { display: table-cell; }
.goods_wrap .context { margin-bottom: 130px; }
.goods_wrap .context.last { margin-bottom: 170px; }
.goods_wrap .context .words { margin-top: 55px; font-size: 18px; line-height: 32px; color: rgb(55, 55, 55); }
.goods_wrap .sub_tit { display: block; margin-bottom: 20px; font-size: 30px; line-height: 38px; }
.goods_wrap .goods_pick h3, .goods_point h3 { display: inline-block; position: relative; z-index: 10; font-size: 50px; width: 100%; margin-bottom: 70px; font-family: noto sans; font-weight: 700; color: rgb(102, 102, 102); }
.goods_wrap .goods_pick h3 span { position: relative; z-index: 10; display: inline-block; margin-left: 354px; padding: 0px 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-shadow: 2px 0px; }
.goods_wrap .goods_pick h3::before, .goods_point h3::before { content: " "; position: absolute; z-index: 1; top: 28px; width: 100%; height: 1px; background: rgb(185, 185, 185) none repeat scroll 0% 0%; }


.goods_wrap .goods_tip { margin-bottom: 170px; }
.goods_wrap .goods_tip h3 { display: inline-block; position: relative; z-index: 10; font-size: 30px; padding-left: 48px; font-family: noto sans; font-weight: 700; color: rgb(102, 102, 102); letter-spacing: 1px; }
.goods_wrap .goods_tip h3 span { position: relative; z-index: 10; display: inline-block; padding: 0px 10px; font-size: 36px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-shadow: 2px 0px; }
.goods_wrap .goods_tip .tip_box { margin-top: -15px; border: 1px solid rgb(185, 185, 185); }
.goods_wrap .goods_tip .tip_box .context { margin: 60px 62px; }




.goods-view-infomation-tab { display: flex; flex: 1 1 0%; vertical-align: top; }
.goods-view-infomation-tab:first-child .goods-view-infomation-tab-anchor { border-left: 1px solid rgb(238, 238, 238); }
.goods-view-infomation-tab-anchor { flex: 1 1 0%; position: relative; top: 1px; height: 60px; line-height: 59px; text-align: center; display: block; color: rgb(102, 102, 102); font-size: 16px; font-weight: 700; letter-spacing: -0.3px; font-family: noto sans; background-color: rgb(250, 250, 250); border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.goods-view-infomation-tab-anchor span { font-size: 14px; font-weight: 400; color: rgb(153, 153, 153); }
.goods-view-infomation-tab-anchor.__active { background-color: rgb(255, 255, 255); color: rgb(95, 0, 128); border-bottom: 0px none; }



.goods-add-product { position: relative; }
.goods-add-product-title { font-size: 13px; font-weight: 900; line-height: 1.8; }
.goods-add-product-title::before { width: 20px; height: 5px; background-color: rgb(0, 0, 0); display: block; content: ""; }
.goods-add-product-wrapper { position: relative; margin-top: 20px; }
.goods-add-product-move { position: absolute; text-indent: -9999px; background-color: transparent; border: 0px none; height: 100%; top: 0px; bottom: 0px; margin: auto; background-repeat: no-repeat; z-index: 3; width: 30px; background-position: 50% 50%; }
.goods-add-product-move.goods-add-product-move-right { right: 0px; background-image: url("slide-sub-right-button-black.png"); background-position: right center; }
.goods-add-product-move.goods-add-product-move-left { left: 0px; background-image: url("slide-sub-left-button-black.png"); background-position: left center; }
.goods-add-product-list-wrapper { position: relative; overflow: hidden; width: 940px; margin: 0px auto; height: 350px; }
.goods-add-product-list { width: 10000%; position: absolute; left: 0px; top: 0px; height: 100%; }
.goods-add-product-item { float: left; width: 180px; height: 100%; margin-right: 10px; border: 1px solid rgb(221, 221, 221); }
.goods-add-product-item-figure { position: relative; height: 230px; overflow: hidden; }
.goods-add-product-item-figure a { display: block; }
.goods-add-product-item-image { width: 100%; height: 100%; }
.goods-add-product-item-content { height: 120px; }
.goods-add-product-item-content-wrapper { padding: 10px; position: relative; min-height: 75px; }
.goods-add-product-item-name { font-size: 14px; font-weight: 700; color: rgb(76, 76, 76); line-height: 18px; }
.goods-add-product-item-price { font-size: 14px; position: absolute; left: 10px; bottom: 10px; }
.goods-add-product-item-option::after { display: inline-block; height: 100%; vertical-align: middle; content: ""; }



#headerLogo .logo #gnbLogoContainer { margin: 0px auto; }
      
#gnb .gnb_kurly { position: relative; z-index: 300; min-width: 1050px; background-color: rgb(255, 255, 255); font-family: "Noto Sans"; letter-spacing: -0.3px; }

#gnb .gnb_kurly::after { content: ""; position: absolute; z-index: 299; left: 0px; top: 56px; width: 100%; height: 9px; background: transparent url("img/bg_1x9.png") repeat-x scroll 0px 100%; }

#gnb .inner_gnbkurly { position: relative; width: 1050px; height: 56px; margin: 0px auto; }

#gnb .gnb_search { position: absolute; right: 108px; top: 10px; width: 242px; }

#gnb .gnb_search .inp_search { width: 242px; height: 36px; padding: 0px 60px 0px 14px; border: 1px solid rgb(247, 247, 246); border-radius: 18px; background-color: rgb(247, 247, 247); font-family: "Noto Sans"; font-weight: 400; font-size: 12px; color: rgb(102, 102, 102); line-height: 16px; outline: medium none; }

#gnb .gnb_search .btn_search { position: absolute; right: 5px; top: 3px; width: 30px; height: 30px; }

#gnb .cart_count img { display: block; width: 36px; height: 36px; margin: 0px auto; }



#gnb .gnb_main { overflow: hidden; width: 1050px; margin: 0px auto; }

#gnb .gnb_main .gnb { float: left; width: 100%; }

#gnb .gnb_main .gnb li { float: left; }

#gnb .gnb_main .gnb .lst { background: transparent none repeat scroll 0% 0%; }

#gnb .gnb_main .gnb a { overflow: hidden; float: left; width: 124px; height: 55px; padding: 16px 0px 0px; font-size: 16px; color: rgb(51, 51, 51); line-height: 20px; text-align: center; }

#gnb .gnb_main .gnb a .txt { font-weight: 700; }

#gnb .gnb_main .gnb a:hover, #gnb .gnb_main .gnb a.on { font-weight: 700; color: rgb(95, 0, 128); }

#gnb .gnb_main .gnb a:hover .txt { border-bottom: 1px solid rgb(95, 0, 128); }

#gnb .gnb_main .menu1 a { width: 168px; }

#gnb .gnb_main .menu1 .ico { float: left; width: 16px; height: 14px; margin: 5px 14px 0px 0px; background: transparent url("img/ico_gnb_all_off.png") no-repeat scroll 0% 0%; }

#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico { background: transparent url("urn:not-loaded:https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png") no-repeat scroll 0px 0px; }

#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt, #gnb .gnb_main .menu1 .txt { float: left; font-weight: 700; border-bottom: 0px none; }

#gnb .gnb_main .menu3 a { width: 116px; }

#gnb .gnb_main .lst a { width: 116px; }

#gnb .gnb_sub { display: none; overflow: hidden; position: absolute; z-index: 301; left: 0px; top: 55px; width: 213px; padding-top: 1px; }

#gnb .gnb_sub .inner_sub { width: 100%; border: 1px solid rgb(221, 221, 221); background: transparent url("urn:not-loaded:https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png") repeat-y scroll 0px 0px; }

#gnb .gnb_sub .gnb_menu { width: 219px; }

#gnb .gnb_sub .gnb_menu li { width: 100%; text-align: left; }

#gnb .gnb_sub .gnb_menu li:first-child { padding-top: 0px; }

#gnb .gnb_sub .menu { display: block; overflow: hidden; width: 100%; height: 40px; padding: 8px 0px 0px 14px; cursor: pointer; }

#gnb .gnb_sub .gnb_menu li:first-child .menu { height: 39px; padding-top: 7px; }


#gnb .gnb_main { overflow: hidden; width: 1050px; margin: 0px auto; }
  
#gnb .gnb_main .gnb { float: left; width: 100%; }

#gnb .gnb_main .gnb li { float: left; }

#gnb .gnb_main .gnb .lst { background: transparent none repeat scroll 0% 0%; }

#gnb .gnb_main .gnb a { overflow: hidden; float: left; width: 124px; height: 55px; padding: 16px 0px 0px; font-size: 16px; color: rgb(51, 51, 51); line-height: 20px; text-align: center; }

#gnb .gnb_main .gnb a .txt { font-weight: 700; }

#gnb .gnb_main .gnb a:hover, #gnb .gnb_main .gnb a.on { font-weight: 700; color: rgb(95, 0, 128); }

#gnb .gnb_main .gnb a:hover .txt { border-bottom: 1px solid rgb(95, 0, 128); }

#gnb .gnb_main .menu1 a { width: 168px; }

#gnb .gnb_main .menu1 .ico { float: left; width: 16px; height: 14px; margin: 5px 14px 0px 0px; background: transparent url("../img/ico_gnb_all_off.png") no-repeat scroll 0% 0%; }

#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico { background: transparent url("urn:not-loaded:https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png") no-repeat scroll 0px 0px; }

#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt, #gnb .gnb_main .menu1 .txt { float: left; font-weight: 700; border-bottom: 0px none; }

#gnb .gnb_main .menu3 a { width: 116px; }

#gnb .gnb_main .lst a { width: 116px; }

#gnb .gnb_sub { display: none; overflow: hidden; position: absolute; z-index: 301; left: 0px; top: 55px; width: 213px; padding-top: 1px; }

#gnb .gnb_sub .inner_sub { width: 100%; border: 1px solid rgb(221, 221, 221); background: transparent url("urn:not-loaded:https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png") repeat-y scroll 0px 0px; }

#gnb .gnb_sub .gnb_menu { width: 219px; }

#gnb .gnb_sub .gnb_menu li { width: 100%; text-align: left; }

#gnb .gnb_sub .gnb_menu li:first-child { padding-top: 0px; }

#gnb .gnb_sub .menu { display: block; overflow: hidden; width: 100%; height: 40px; padding: 8px 0px 0px 14px; cursor: pointer; }

#gnb .gnb_sub .gnb_menu li:first-child .menu { height: 39px; padding-top: 7px; }




.section_view { width: 1050px; margin: 0px auto; padding-top: 20px; }
.section_view * { font-family: noto sans; color: rgb(51, 51, 51); letter-spacing: -0.5px; }
.section_view::after { content: ""; display: block; overflow: hidden; height: 0px; clear: both; }
#sectionView .thumb { float: left; background-color: rgb(238, 238, 238); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
#sectionView .thumb .bg { width: 430px; height: 552px; }
#sectionView .goods_name { float: right; width: 560px; padding: 10px 0px 29px; }
#sectionView .goods_name .name { display: block; padding-right: 60px; font-weight: 700; font-size: 24px; line-height: 34px; word-break: break-all; }
#sectionView .goods_name .short_desc { display: block; padding: 4px 60px 0px 0px; font-size: 14px; color: rgb(153, 153, 153); line-height: 20px; word-break: break-all; }
#sectionView .btn_share { display: block; position: relative; }
#sectionView #btnShare { overflow: hidden; position: absolute; right: 0px; top: 0px; width: 40px; height: 40px; border: 0px none; background: transparent url("ico_view_sns.png") no-repeat scroll 50% 50%; font-size: 0px; text-indent: -9999px; }
#sectionView .goods_dcinfo { float: right; width: 560px; padding-right: 21px; font-size: 14px; line-height: 20px; }
#sectionView .goods_price .position::after { content: ""; display: block; overflow: hidden; width: 100%; clear: both; }
#sectionView .goods_price .ico { width: 24px; height: 24px; vertical-align: -6px; }
#sectionView .goods_price .layer_position { display: none; position: relative; float: left; width: 16px; }
#sectionView .goods_price .layer_price { position: absolute; left: -18px; top: 32px; width: 320px; padding: 13px 23px 13px 13px; border: 1px solid rgb(51, 51, 51); border-radius: 3px; background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(61, 6, 6); line-height: 16px; }
#sectionView .goods_price .layer_price .tit_layer { display: block; padding-bottom: 6px; font-size: 12px; line-height: 16px; }
#sectionView .goods_price .layer_price .bar { display: block; }
#sectionView .goods_price { float: right; width: 560px; padding: 0px 20px 0px 0px; }
#sectionView .goods_price .dc { display: block; padding-top: 4px; }
#sectionView .goods_price .dc .won { padding: 0px 7px 0px 2px; font-weight: 700; font-size: 18px; line-height: 30px; vertical-align: 2px; letter-spacing: 0px; }
#sectionView .goods_price .dc_price { font-weight: 700; font-size: 28px; line-height: 30px; letter-spacing: 0px; word-break: break-all; }
#sectionView .goods_price .dc_percent .per, #sectionView .goods_price .dc_percent { font-weight: 700; font-size: 28px; color: rgb(250, 98, 47); line-height: 30px; letter-spacing: 0px; }
#sectionView .goods_price .original_price { float: left; padding-top: 7px; }
#sectionView .goods_price .price { font-size: 16px; color: rgb(153, 153, 153); line-height: 24px; text-decoration: line-through; }
#sectionView .goods_price .price .won { color: rgb(153, 153, 153); }
#sectionView .goods_price .not_point, #sectionView .goods_price .not_login span, #sectionView .goods_price .not_login { display: block; padding-top: 7px; font-size: 14px; color: rgb(95, 0, 128); line-height: 20px; letter-spacing: 0px; }
#sectionView .goods_price .not_login { padding-top: 4px; }
#sectionView .goods_info { float: right; width: 560px; margin-top: 19px; padding-bottom: 19px; border-top: 1px solid rgb(244, 244, 244); }
#sectionView .goods_info .list { overflow: hidden; padding: 18px 0px; border-bottom: 1px solid rgb(244, 244, 244); }
#sectionView .goods_info .list.fst { padding-bottom: 0px; border-bottom: 0px none; }
#sectionView .goods_info .tit { float: left; width: 150px; font-size: 14px; color: rgb(102, 102, 102); line-height: 20px; }
#sectionView .goods_info .desc { overflow: hidden; font-size: 14px; line-height: 20px; word-break: break-all; }
#sectionView .goods_info .txt::before { content: "- "; display: inline; }
#sectionView .goods_info .emph { display: block; padding-top: 4px; font-weight: 400; font-size: 12px; color: rgb(102, 102, 102); line-height: 16px; }




#cartPut * { font-family: noto sans; color: rgb(51, 51, 51); letter-spacing: 0px; }
#cartPut .cart_result, #cartPut .cart_option.off, #cartPut .cart_option .tit_cart, #cartPut .cart_option .box_select, #cartPut .cart_option .bar_open, #cartPut .cart_option .view_function { display: none; }
#cartPut .cart_option { background-color: rgb(255, 255, 255); }
#cartPut .cart_option .box_select::after, #cartPut::after { content: ""; display: block; overflow: hidden; width: 100%; height: 0px; }
#cartPut .cart_option .list { overflow: hidden; padding-bottom: 1px; }
#cartPut .cart_option .list .name { display: block; font-size: 12px; line-height: 20px; letter-spacing: -0.6px; }
#cartPut .cart_option .list .btn_position { display: block; position: relative; }
#cartPut .cart_option .list .btn_del { overflow: hidden; position: absolute; right: 0px; top: -1px; width: 24px; height: 24px; border: 0px none; background: transparent url("urn:not-loaded:https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg") no-repeat scroll 50% 50% / 24px 25px; font-size: 0px; line-height: 0; text-indent: -9999px; }
#cartPut .cart_option .list .option { overflow: hidden; }
#cartPut .cart_option .list .count { overflow: hidden; float: left; width: 88px; height: 30px; border: 1px solid rgb(221, 223, 225); border-radius: 3px; }
#cartPut .cart_option .list .inp { float: left; width: 30px; height: 30px; margin-right: -1px; padding: 0px 0px 4px; border: 0px none; background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); line-height: 18px; text-align: center; }
#cartPut .cart_option .list .btn { overflow: hidden; float: left; width: 28px; height: 28px; border: 0px none; font-size: 0px; line-height: 0; text-indent: -9999px; }
#cartPut .cart_option .list .down { background: rgb(255, 255, 255) url("urn:not-loaded:https://res.kurly.com/pc/ico/2010/ico_minus.svg") no-repeat scroll 50% 50% / 30px 30px; }
#cartPut .cart_option .list .down.on { background-image: url("../img/ico_minus_on.svg"); }
#cartPut .cart_option .list .up { float: right; margin-left: -1px; background: rgb(255, 255, 255) url("urn:not-loaded:https://res.kurly.com/pc/ico/2010/ico_plus.svg") no-repeat scroll 50% 50% / 30px 30px; }
#cartPut .cart_option .list .up.on { background-image: url("ico_plus_on.svg"); }
#cartPut .cart_option .list .price { font-weight: 700; text-align: right; }
#cartPut .cart_option .total .price { overflow: hidden; text-align: right; }
#cartPut .cart_option .total .tit { font-weight: 700; font-size: 13px; line-height: 20px; vertical-align: 2px; }
#cartPut .cart_option .total .num { padding-left: 8px; font-weight: 800; font-size: 32px; line-height: 32px; }
#cartPut .cart_option .total .won { padding-left: 2px; font-size: 20px; font-weight: 700; line-height: 20px; vertical-align: -1px; }
#cartPut .cart_option .total .txt_point { display: block; padding-top: 14px; font-size: 14px; color: rgb(102, 102, 102); line-height: 20px; text-align: right; }
#cartPut .cart_option .total .ico { display: inline-block; width: 38px; height: 20px; margin-right: 2px; border: 1px solid rgb(232, 168, 40); border-radius: 10px; background-color: rgb(255, 191, 0); font-weight: 700; font-size: 11px; color: rgb(255, 255, 255); line-height: 18px; text-align: center; vertical-align: 1px; }
#cartPut .cart_option .group_btn { overflow: hidden; width: 100%; }
#cartPut .cart_option .group_btn .txt_type { display: block; width: 100%; height: 100%; padding-bottom: 2px; border: 0px none; background: transparent none repeat scroll 0px 0px; font-weight: 700; color: rgb(255, 255, 255); font-size: 16px; line-height: 52px; letter-spacing: -0.1px; text-align: center; }
#cartPut .cart_option .group_btn .btn_type1 { width: auto; height: 56px; }
#cartPut .cart_option .group_btn .btn_type2 .txt_type { color: rgb(51, 51, 51); }
#cartPut .cart_option .view_function .btn { overflow: hidden; float: right; width: 128px; height: 56px; margin-right: 12px; padding-bottom: 2px; border: 1px solid rgb(95, 0, 128); border-radius: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-weight: 700; font-size: 16px; color: rgb(95, 0, 128); line-height: 52px; letter-spacing: -0.1px; text-align: center; }
#cartPut .cart_option .view_function .btn_alarm { border: 1px solid rgb(221, 221, 221); color: rgb(221, 221, 221); }
#cartPut .cart_type2 { float: right; width: 560px; padding-bottom: 40px; }
#cartPut .cart_type2 .list_goods { padding-bottom: 18px; }
#cartPut .cart_type2 .list li { float: right; width: 410px; padding: 11px 10px 11px 15px; margin-bottom: -1px; border: 1px solid rgb(244, 244, 244); }
#cartPut .cart_type2 .list .name { padding: 0px 63px 0px 0px; }
#cartPut .cart_type2 .list .option { padding-top: 8px; }
#cartPut .cart_type2 .list_nopackage { padding: 0px; }
#cartPut .cart_type2 .list_nopackage li { float: none; width: 100%; padding: 0px 0px 5px; margin: 0px; border: 0px none; }
#cartPut .cart_type2 .list_nopackage .price, #cartPut .cart_type2 .list_nopackage .name, #cartPut .cart_type2 .list_nopackage .btn_position { display: none; }
#cartPut .cart_type2 .list_nopackage .tit_item { float: left; width: 150px; font-weight: 400; font-size: 14px; color: rgb(102, 102, 102); line-height: 20px; letter-spacing: -0.5px; }
#cartPut .cart_type2 .list_nopackage .option { padding-top: 0px; }
#cartPut .cart_type2 .list .price { float: right; padding: 5px 4px 0px; font-size: 12px; line-height: 20px; letter-spacing: -0.6px; }
#cartPut .cart_type2 .list .dc_price { float: right; }
#cartPut .cart_type2 .total .txt_point { padding-top: 13px; }
#cartPut .cart_type2 .total { padding: 30px 0px 14px; border-top: 1px solid rgb(244, 244, 244); }
#cartPut .cart_type2 .view_function { display: block; float: left; width: 280px; }
#cartPut .cart_type1 { display: none; position: fixed; z-index: 200; left: 0px; bottom: 0px; width: 100%; }
#cartPut .cart_type1 .bar_open { display: block; position: relative; height: 22px; border-top: 2px solid rgb(95, 0, 128); }
#cartPut .cart_type1 .btn_close { overflow: hidden; position: absolute; left: 50%; top: -50px; width: 170px; height: 48px; margin-left: 280px; border: 0px none; border-radius: 3px 3px 0px 0px; background-color: rgb(95, 0, 128); text-align: center; }
#cartPut .cart_type1 .btn_close .ico { padding: 0px 30px 0px 7px; background: transparent url("ico_up_fff_24x24.png") no-repeat scroll 100% -3px; font-size: 14px; color: rgb(255, 255, 255); line-height: 20px; }
#cartPut .cart_type1 .in_option { left: 0px; bottom: 70px; width: 100%; }
#cartPut .cart_type1 .group_btn { width: 900px; margin: 0px auto; padding-bottom: 60px; }
#cartPut .cart_type1 .group_btn.off { display: none; }
#cartPut .cart_type1 .view_function { display: block; float: left; width: 448px; }
#cartPut .cart_type1 .view_function .btn { width: 212px; }
#cartPut .cart_type3 { position: fixed; z-index: 9999; left: 50%; top: 50%; width: 440px; max-height: 600px; margin-left: -220px; border-radius: 12px; background-color: rgb(255, 255, 255); transform: translate(0px, -50%); }
#cartPut .cart_type3 .btn_close1 { display: none; }
#cartPut .cart_type3 .inner_option { padding: 0px 30px; }
#cartPut .cart_type3 .group_btn { overflow: hidden; padding: 20px 0px 30px; }
#cartPut .cart_type3 .group_btn .btn_type1 .txt_type, #cartPut .cart_type3 .group_btn .btn_type2 .txt_type { width: 100%; border: 0px none; border-radius: 3px; background: transparent none repeat scroll 0px 0px; }
#cartPut .cart_type3 .group_btn .btn_type2 { float: left; width: 186px; height: 56px; border: 1px solid rgb(221, 221, 221); }
#cartPut .cart_type3 .group_btn .btn_type1 { float: right; width: 186px; height: 56px; background-color: rgb(95, 0, 128); color: rgb(255, 255, 255); }
#cartPut .cart_type3 .group_btn .btn_type1 .txt_type { color: rgb(255, 255, 255); }
#cartPut .cart_result { width: 360px; margin-left: -180px; }
#cartPut .cart_result .btn_close1 { display: block; overflow: hidden; position: absolute; right: 16px; top: 16px; width: 24px; height: 24px; border: 0px none; background: transparent url("urn:not-loaded:https://res.kurly.com/pc/ico/2010/ico_layer_close.svg") no-repeat scroll 50% 50% / 24px 24px; font-size: 0px; text-indent: -9999px; }
#cartPut .cart_result .success { padding: 46px 0px 10px; font-size: 16px; line-height: 26px; letter-spacing: -0.4px; text-align: center; }
#cartPut .cart_result .group_btn .txt_type { font-size: 14px; line-height: 38px; }
#cartPut .cart_result .group_btn .btn_type1, #cartPut .cart_result .group_btn .btn_type2 { width: 146px; height: 44px; }
#cartPut .cart_result .group_btn .ico_search { display: inline-block; width: 24px; height: 24px; background: transparent url("urn:not-loaded:https://res.kurly.com/pc/ico/2008/ico_search_40x40.png") no-repeat scroll 50% 50% / 20px 20px; vertical-align: -7px; }
#cartPut .notify_option { display: none; opacity: 0; }
#cartPut .notify_option .tit { display: block; padding-top: 29px; font-weight: 700; font-size: 24px; color: rgb(51, 51, 51); line-height: 32px; letter-spacing: -1px; }
#cartPut .notify_option .name_deal { padding-top: 30px; font-weight: 700; font-size: 16px; color: rgb(51, 51, 51); line-height: 24px; letter-spacing: -0.67px; }
#cartPut .notify_option .notice { position: relative; margin-top: 30px; padding-left: 9px; font-size: 12px; color: rgb(102, 102, 102); line-height: 18px; letter-spacing: -0.1px; }
#cartPut .notify_option .notice .ico { content: "·"; position: absolute; left: 0px; top: -1px; }
#cartPut .notify_option .group_btn { padding-top: 30px; }
@media not all, not all, only screen and (min-resolution: 1.5dppx) {
  #cartPut .cart_type1 .btn_close .ico { background: transparent url("urn:not-loaded:https://res.kurly.com/pc/service/goods/1910/ico_up_fff_48x48.png") no-repeat scroll 100% 0px / 24px 24px; }
}